@page
@model FilesModel
@{
    ViewData["Title"] = "Dateien";
}

<div class="header">
        <a href="/" class="logo">@ViewData["Title"] - SecureCloud</a>
        <div class="header-right">
            <a href="/files">Dateien</a>
            <a href="/settings">Einstellungen</a>
            <a href="/users">Benutzer</a>
        </div>
</div>



