@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="header">
        <a href="/" class="logo">@ViewData["Title"] - SecureCloud</a>
        <div class="header-right">
            <a href="/explore">Explore</a>
            <a href="/help">Help</a>
        </div>
</div>