@page
@model SettingsModel
@{
    ViewData["Title"] = "Einstellungen";
}

<div class="header">
        <a href="/" class="logo">@ViewData["Title"] - SecureCloud</a>
        <div class="header-right">
            <a href="/files">Dateien</a>
            <a href="/settings">Einstellungen</a>
            <a href="/users">Benutzer</a>
        </div>
</div>



<!-- About Card -->
<style>
    .about-card-event.mdl-card {
        width: 320px;
        height: 256px;
        background: #11999E;
        border-radius: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
                    
    .about-card-event>.mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
                    
    .about-card-event>.mdl-card__title {
        align-items: flex-start;
    }
                    
    .about-card-event>.mdl-card__title>h4 {
        margin-top: 0;
        font-family: 'Rubik', sans-serif;
    }

                    
    .about-card-event>.mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
                    
    .about-card-event>.mdl-card__actions>.material-icons {
        padding-right: 10px;
    }
                    
    .about-card-event>.mdl-card__title,
    .about-card-event>.mdl-card__actions,
    .about-card-event>.mdl-card__actions>.mdl-button {
        color: #fff;
        border-radius: 20px;
    }
</style>

<div class="about-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>
            <b><u>SecureCloud</u></b>
            <br>Um zur Informationsseite zu gelangen, drücken Sie auf Über SecureCloud<br>
        </h4>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/about">Über SecureCloud</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">info</i>
    </div>
</div>


<!-- Upload Size Card -->
<style>
    .upload-size-card-event.mdl-card {
        width: 300px;
        height: 256px;
        background: #9254C8;
        border-radius: 20px;
        margin-left: 370px;
        margin-top: -255px;
    }
                    
    .upload-size-card-event>.mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
                    
    .upload-size-card-event>.mdl-card__title {
        align-items: flex-start;
    }
                    
    .upload-size-card-event>.mdl-card__title>h4 {
        margin-top: 0;
        font-family: 'Rubik', sans-serif;
    }

                    
    .upload-size-card-event>.mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
                    
    .upload-size-card-event>.mdl-card__actions>.material-icons {
        padding-right: 10px;
    }
                    
    .upload-size-card-event>.mdl-card__title,
    .upload-size-card-event>.mdl-card__actions,
    .upload-size-card-event>.mdl-card__actions>.mdl-button {
        color: #fff;
        border-radius: 20px;
    }
</style>

<div class="upload-size-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>
            <b><u>Upload Größe</u></b>
            <br>Maximale Upload Größe
            <br><b>128MB</b><br>
        </h4>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">Ändern</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">upload</i>
    </div>
</div>


<!-- Upload Path Card -->
<style>
    .upload-path-card-event.mdl-card {
        width: 300px;
        height: 256px;
        background: #E45826;
        border-radius: 20px;
        margin-left: 710px;
        margin-top: -255px;
    }
                    
    .upload-path-card-event>.mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
                    
    .upload-path-card-event>.mdl-card__title {
        align-items: flex-start;
    }
                    
    .upload-path-card-event>.mdl-card__title>h4 {
        margin-top: 0;
        font-family: 'Rubik', sans-serif;
    }

                    
    .upload-path-card-event>.mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
                    
    .upload-path-card-event>.mdl-card__actions>.material-icons {
        padding-right: 10px;
    }
                    
    .upload-path-card-event>.mdl-card__title,
    .upload-path-card-event>.mdl-card__actions,
    .upload-path-card-event>.mdl-card__actions>.mdl-button {
        color: #fff;
        border-radius: 20px;
    }
</style>

<div class="upload-path-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>
            <b><u>Upload Ort</u></b>
            <br>Pfad des gemeinsamen Ordners
            <br><b>D:/</b><br>
        </h4>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">Ändern</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">upload</i>
    </div>
</div>




<!-- Language Card -->
<style>
    .language-card-event.mdl-card {
        width: 300px;
        height: 256px;
        background: #42C2FF;
        border-radius: 20px;
        margin-left: 10px;
        margin-top: 30px;
    }
                    
    .language-card-event>.mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
                    
    .language-card-event>.mdl-card__title {
        align-items: flex-start;
    }
                    
    .language-card-event>.mdl-card__title>h4 {
        margin-top: 0;
        font-family: 'Rubik', sans-serif;
    }

                    
    .language-card-event>.mdl-card__actions {
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
                    
    .language-card-event>.mdl-card__actions>.material-icons {
        padding-right: 10px;
    }
                    
    .language-card-event>.mdl-card__title,
    .language-card-event>.mdl-card__actions,
    .language-card-event>.mdl-card__actions>.mdl-button {
        color: #fff;
        border-radius: 20px;
    }
</style>

<div class="language-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>
            <b><u>Sprache</u></b>
            <form method="post">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="de_lang" name="de_lang" style="margin-top: 20px; background-color: white; color: black; border-radius: 20px;">Deutsch</button> <br />
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="en_lang" name="en_lang" style="margin-top: 10px; background-color: white; color: black; border-radius: 20px;">Englisch</button>
            </form>
        </h4>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/settings"></a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">language</i>
    </div>
</div>


<!-- <h4 style="margin-left: 10px; font-family: 'Rubik', sans-serif;"><b>Sprache</b></h4> -->

